body {
    background-image: url(goofy.jpg);
    width:100%;
}

h1 {
    font-family: 'Moo Lah lah';
    font-size: 60px;
    color: darkred;
    text-align: center;
    padding-top: 100px;
}

p {
    font-family: 'Schoolbell';
    font-size: 25px;
    color: brown;
    text-align: center;
}