.container-fluid {
    width: 100%;
}

body {
    font-family: 'Architects Daughter';
    font-size: 22px;
    color:#2f435a;
}

h1 {
    font-family: "Bad Script";
    font-size: 22;
    color: #2f435a;
    text-align: justify;
}

.weeklyContainer {
    width: 100%;
    height: 800px;
    background-color: #39918c;
    align-items: stretch;
}

.dayContainer {
    margin-left: 500px;
}

.card {
    margin-right: 150px;
    float:left;
}
